// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&display=swap');

// Define fonts for body and headers
$body-font: "Open Sans", "Helvetica", "sans-serif";
$headers-font: "Raleway", "Helvetica", "sans-serif";

@font-face {
  font-family:'Avenir-Light';
  src: url(font_path('AvenirLTStd-Light.otf')) format("opentype");
}
@font-face {
  font-family:'Avenir-LightOblique';
  src: url(font_path('AvenirLTStd-LightOblique.otf')) format("opentype");
}
@font-face {
  font-family:'Avenir-BookOblique';
  src: url(font_path('AvenirLTStd-BookOblique.otf')) format("opentype");
}
@font-face {
  font-family:'Avenir-Medium';
  src: url(font_path('AvenirLTStd-Medium.otf')) format("opentype");
}
@font-face {
  font-family:'Avenir-Heavy';
  src: url(font_path('AvenirLTStd-Heavy.otf')) format("opentype");
}


