// Specific CSS for your home-page
.flex-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}
a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
    opacity: 0.8;
  }
  .card-category {
    background-size: cover;
    background-position: center;
    width: 250px;
    height: 200px;
    display: flex;
    justify-content: center;
    padding-top: 130px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    text-decoration: none;
    &:hover {

    }
  }
}




 h2 {
  line-height: 30px;
  margin-top: 40px;
  color: rgb(72, 72, 72);
  font-size: 24px;
}



.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 600px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.container {
  padding-top: 250px;
}

.banner-btn {
  padding-top: 10px;
}
