// banner-form {
//   position: relative;
//   background-size: cover;
//   background-position: center;
//   padding: 150px 0;
//   height: 90vh;
// }

.form-banner {
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.container-banner-new {
  position: relative;
  padding-top: 50px;
  background: rgba(0, 0, 0, 0.4);
  width:500px;
  height: 100vh;
}

