.show-container {
  display: flex;
  justify-content: space-between;
}

.puppy-card {
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 400px;
  margin: 12px;
  overflow: hidden;
}

.image-class {
  width: 95%;
  object-fit: cover;
  border-radius: 1.5px;
}

.puppy-specs {
  padding-top: 8px;
  padding-left: 8px;
  padding-bottom: 8px;
}
#about-puppy{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.puppy-info {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 12px;
  padding-top: 8px;
  overflow: hidden;
  width: 600px;
  border-radius: 4px;
}

.puppy-info h2 {
  font-size: 54px;
}

.puppy-booking {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 12px;
  padding-top: 2px;
  padding-left: 2px;
  overflow: hidden;
  width: 300px;
  border-radius: 4px;
}

hr {
    margin-top: 0px;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.date-selection {
  border-radius: 4px;
}
.puppy-booking hr{
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.puppy-booking h2{
  margin-top: 10px;
}
.puppy-pricing{
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding-left: 15px;
  padding-right: 15px;
}
.puppy-pricing hr{
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.puppy-pricing h2{
  font-size: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 30px;
  margin-top: 1px;

}
.booking-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5px;
}
.delete-button{
  padding-top: 8px;
  padding-left: 8px;
  padding-bottom: 8px;
}
.btn-default{
  border: 1px solid rgba(0, 0, 0, 0.1);

}
.checked {
  color: orange;
}
 h2 {
  text-align: -webkit-auto;
  line-height: 30px;
  margin-top: 15px;
  color: rgb(72, 72, 72);
  font-size: 24px;
}

.modal-body{
  display: flex;
  justify-content: center;
}
.modal-body-content{
  display: flex;
  flex-direction: column;
  justify-content: center;

}
