<div class="profile-container">
  <div class="profile-card">
    <div class="image-container">
      <img src="https://cdn.business2community.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640.png" style="width:100%" alt="">
      <div class="title">
        <h2>Welcome <%= @user.email %></h2>
      </div>
    </div>
    <div class="main-container">
      <h2>Bookings</h2>
    </div>
  </div>
</div>




<!-- <div class="card">
  <h1>Welcome, <%= @user.email %></h1>
  <div>
    <img class="avatar-profile" src="https://cdn.business2community.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640.png"></img>
  </div>
  <div>
    <div class="bio">
      <p>Hello, my name is <%= @user.email %>! I love dogs but I travel a lot and I can't always find a loving person to take care of her so Rent-a-Pup has been a lifesaver!</p>
    </div>
  </div>
</div>

 -->
