<div class="profile-container">
  <div class="container-profile-details">
     <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm">
    <div class="container-profile-info">
      <div class="profile-edit">
        <button type="button" class="btn btn-labeled btn-info" href="#">
          <span class="btn-label"></span>Edit</button>
      </div>
      <div class="profile-welcome">
        <h1>Welcome back, Username</h1>
        <h4>Madrid, Spain</h4>
      </div>
    </div>
  </div>
  <div class="container-puppy">
    <div class="owned-puppies">
      <div class="owned-puppies-info">
        <h3>Your puppies</h3>
        <div class="card-product puppy-card-owned ">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <div class="card-product-infos">
            <h2>Puppy breed</h2>
          </div>
        </div>

      </div>
    </div>
    <div class="booked-puppies">
      <div class="booked-puppies-info">
        <h3></h3>
        <div class="puppy-card-booked puppy-card">
        </div>
      </div>
    </div>
  </div>
</div>
