<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github color-green"></i></a>
    <a href="#"><i class="fab fa-instagram color-green"></i></a>
    <a href="#"><i class="fab fa-facebook color-green"></i></a>
    <a href="#"><i class="fab fa-twitter color-green"></i></a>
    <a href="#"><i class="fab fa-linkedin color-green"></i></a>
  </div>
</div>

 <div class="footer-copyright">
    Puppies R Us <i class="fas fa-heart"></i>
  </div>
