<!-- <%# @booked_puppies.each do |puppy| %>
<div class="card-product puppy-card-booked ">
  <%#= cl_image_tag(puppy.photo) %>
  <div class="card-product-infos">
    <h2 id="about-puppy">About <%#= link_to puppy.name, puppy_path(puppy) %></h2>
    <p>Breed: <%#= puppy.breed %></p>
    <p>Age: <%#= puppy.age %></p>
  </div>
</div> -->
<%# end %>

<h1>Test page for fonts</h1>
<p class="big light-oblique">  font-family: 'Avenir-Light'</p>
<p class="big light">  font-family: 'Avenir-LightOblique'</p>
<p class="big book-oblique">  font-family: 'Avenir-BookOblique'</p>
<p class="big medium">  font-family: 'Avenir-Medium'</p>
<p class="big heavy">  font-family: 'Avenir-Heavy' </p>
