<% @booked_puppies.each do |puppy| %>
<div class="card-product puppy-card-booked ">
  <%= cl_image_tag(puppy.photo) %>
  <div class="card-product-infos">
    <h2 id="about-puppy">About <%= link_to puppy.name, puppy_path(puppy) %></h2>
    <p>Breed: <%= puppy.breed %></p>
    <p>Age: <%= puppy.age %></p>
  </div>
</div>
<% end %>
