<div>

<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path(puppy.photo) if puppy.photo_url %>)">
          <h3><%= puppy.name %></h3>
</div>
<% end %>
