<div class="form-banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1549150374-172978741e94?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9);">
  <div class="container-banner-new">
    <div class="rent-puppy">
      <%= render 'form' %>
    </div>
  </div>



