<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.telegraph.co.uk/content/dam/Pets/spark/royal-canin/happy-puppy.jpg?imwidth=1000);">
  <div class="container-banner-home">
    <div class="rent-puppy">
     <h3>Puppy for a weekend</h3>
    </div>
    <div class="rent-puppy">
     <!--  <h3>Spend a weekend with your new best friend</h3> -->
    </div>
  </div>
</div>
<div class="search-form">
  <div class= "banner-search">
    <form novalidate="novalidate" class="simple_form search" action="/puppies" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;"  />
      <div class="search-form-control form-group">
        <input class="form-control string required" placeholder="Find a breed" type="text" name="query" id="search_query" />
        <button name="button" type="submit" class="btn btn-primary">
          <i class="fas fa-search"></i> Search
        </button>
      </div>
    </form>
  </div>
</div>


<h2 class= "dogs">Meet some of our verified good pups!</h2>


<div class="container">
  <div class="row">
    <div class="col-12 col-lg-12 col-md-8 col-sm-4">
      <div class="flex-container">
         <% @puppies.each do |puppy| %>
            <%= link_to puppy_path(puppy) do %>
              <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path(puppy.photo, gravity: :auto) if puppy.photo_url %>)">
                <h3><%= puppy.name %></h3>
              </div>
            <% end %>
         <% end %>
      </div>
    </div>
  </div>
</div>


