<h1>Pets R'Us</h1>

<h2>Meet some of our verified good boys!</h2>
<div class="flex-container">
  <div class="card-puppy">
  <%= cl_image_tag("pug_image.jpg",
      width: 200, height: 150, crop: :fill) %>
  <div class="card-product-infos">
    <h2>Product name</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>
<div class="card-puppy">
  <%= cl_image_tag("pug_image.jpg",
      width: 200, height: 150, crop: :fill) %>
  <div class="card-product-infos">
    <h2>Product name</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>
<div class="card-puppy">
  <%= cl_image_tag("pug_image.jpg",
      width: 200, height: 150, crop: :fill) %>
  <div class="card-product-infos">
    <h2>Product name</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>


</div>



