
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.telegraph.co.uk/content/dam/Pets/spark/royal-canin/happy-puppy.jpg?imwidth=1000);">
  <div class="container">
    <h1>PuppiesR'Us enables you to <strong>enjoy the love and company</strong> of <strong>the most beutiful puppies</strong>!</h1>
    <div class= "banner-btn">
     <a class="btn btn-primary" href="#">Enjoy the love!</a>
    </div>
  </div>
</div>

<h2>Meet some of our verified good boys!</h2>
<div class="flex-container">
  <div class="card-puppy">
  <%= cl_image_tag("pug_image.jpg",
      width: 200, height: 150, crop: :fill) %>
  <div class="card-product-infos">
    <h2>Product name</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>
<div class="card-puppy">
  <%= cl_image_tag("pug_image.jpg",
      width: 200, height: 150, crop: :fill) %>
  <div class="card-product-infos">
    <h2>Product name</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>
<div class="card-puppy">
  <%= cl_image_tag("pug_image.jpg",
      width: 200, height: 150, crop: :fill) %>
  <div class="card-product-infos">
    <h2>Product name</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>
</div>


