@font-face {
  font-family: 'GT-Walsheim-Pro';
  src: url('../../fonts/GT-Walsheim-Pro-Medium.ttf')
}
#brand-name {
  font-family: 'GT-Walsheim-Pro';
  font-weight: 400;
  color: white;
  font-size: 36px;
}
