@font-face {
  font-family: 'Open Sans', sans-serif;
}

.brand-name {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.title-name {
  color: white;
  font-size: 36px;
}

.brand-name-small {
  font-size: 20px;
  color: #666666;
  background-color: #F4F4F4;
}
