@font-face {
  font-family: 'GT-Walsheim-Pro';
  src: url('../../fonts/GT-Walsheim-Pro-Medium.ttf')
}
.brand-name {
  font-family: 'GT-Walsheim-Pro';
  font-weight: 400;
}

.title-name {
  color: white;
  font-size: 36px;
}

.brand-name-small {
  font-size: 20px;
  color: #666666;
  background-color: #F4F4F4;
}
