.btn {
  background-color: $primary;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  font-weight: 100px;
  height: 40px;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  border-radius: 3px;
}

.btn :hover {
  opacity: 0.8;
}

