.card-product {
background-color: $light-gray;
border-radius: 5px;
overflow: hidden;
height: 120px;
background: $light-gray;
display: -webkit-box;
display: flex;
-webkit-box-align: center;
align-items: center;
padding: 0;
width: 650px;
margin: 13px;
margin-left: -18px;
box-shadow: 0 0 15px rgba(0,0,0,0.07);
-webkit-box-pack: start;
justify-content: flex-start;

}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product a {
  color: #484848
}
