.footer {
  background: #F4F4F4;
  display: flex;
  position: relative;
  justify-content: center;
  height: 100px;
  padding: 50px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  justify-content: space-between;
  background: #b2d3be;
  vertical-align: bottom;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 10px 10px;
}
.footer-links a:hover {
  opacity: 0.5;

}

.color-green {
  color: #616f39;
  background-color: white;

}

.footer-copyright {
  display: flex;
  justify-content: center;
  font-weight: 100;
  font-family: 'Open Sans', sans-serif;

}

.form-container {
  display: flex;
  flex-direction: column;
  margin-top: 180px;
}
