form {
  padding: 20px;
  margin-top: 5px;

}

.form-sign-up {
  padding: 40px 300px;
  border: none;
}

.form-inputs {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  padding: 0px 450px;
  font-weight: 100;
  margin: 0 auto;
  width: 100%;
  background: 0 0;
  line-height: 1.2;

}

.form-inputs #modal-input{
  padding: 0px 100px;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin-top: 180px;
}

.form-actions {
  color: $primary;
  display: inline-block;
}

h2 {
  text-decoration: none;
  text-align: center;
  margin: 3;
  line-height: 50px;
  font-weight: 500;
}

.sign-in .form-heading {
  margin: 0;
  display: block;
}

.form-align {
  padding-left: 450px;
}

.sign-up-submit {
  padding: 0 25px;
}
.form-control{
  width: 400px;
}
