@font-face {
  font-family: 'GT-Walsheim-Pro';
  src: url('../../fonts/GT-Walsheim-Pro-Medium.ttf')
}

#brand-name {
  font-family: 'GT-Walsheim-Pro';
  font-weight: 400;
  color: white;
  font-size: 36px;
  padding-left: 20px;
  padding-bottom: 15px;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  padding-top: 34px;
  margin-bottom: 40px;

}
.navbar-lewagon {
  padding-top: 20px;
  height: 60px;
  justify-content: space-between;
  background: transparent;

  transition: 0.5s background-color ease;
  margin-bottom: 40px;

}

.navbar-lewagon-blue {
  margin-bottom: 100px;
  justify-content: space-between;
  background: $primary;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}
.round-img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.navbar-toggler {
  color: #C35979;
}

.dropdown-menu .dropdown-menu-right {
  background: $primary;
  text-align: center;
  padding-right: 22px;
  padding-left: 22px;
  border-width: 2px;
  font-weight: 800;
  padding-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: normal;
}

.navbar-nav .mr-auto {
  background-color: $primary;

}

.nav-item {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  padding: 1px;
  border-bottom: 2px;
  border-bottom-color: rgba(0,0,0,0.2);
}
.nav-item #signinbutton {
  background-color: transparent;
  margin-top: -6px;
}
