.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.dropdown-menu .dropdown-menu-right {
  background: #ff5a5f;
  text-align: center;
  padding-right: 22px;
  padding-left: 22px;
  border-width: 2px;
  font-weight: 800;
  padding-bottom: 10px;
  font-family: Helvetica, sans-serif;
  letter-spacing: normal;
}

.nav-item {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  padding: 8px;
  border-bottom: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0,0,0,0.5);
}




