.container-search-page {
margin-top: 90px;
  display: flex;
}
.container-search-puppies {
  padding-left: 30px;
  width: 70%;
}
.container-search-puppies .card-product.puppy-card-owned {
  margin-right: 20px;
  margin-left: 10px;
}
