.profile-card {
  width: 700px;
  margin: auto;
  background: #fff;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.5);
}

.image-container {
  position: relative;
}



// .avatar-profile {
//  border-radius: 50%;
// }

// .bio {
//   display: inline-block;
//   padding: 500px 500px;
// }

// p {
//   color: #E6EBEE;
//   font-weight: lighter;
//   font-size: 15px;
//   text-align: justify;
// }


