// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.lighter-font {
  opacity: 0.7;
}

.light {
  font-family: 'Avenir-Light'
}
.light-oblique {
  font-family: 'Avenir-LightOblique'
}
.book-oblique {
  font-family: 'Avenir-BookOblique'
}
.medium {
  font-family: 'Avenir-Medium'
}
.heavy {
  font-family: 'Avenir-Heavy'
}
.big {
  font-size: 30px;
  font-weight: 400;
  opacity: 0.8;
}
.date-selection {
  opacity: 0.4;
  font-weight: 500;
}
